<header class="aui-page-header">
  <div class="aui-page-header-inner">
    <div class="aui-page-header-main">
      <h1>Editing User</h1>
    </div>
  </div>
</header>
<div class="aui-page-panel">
  <div class="aui-page-panel-inner">
    <section class="aui-page-panel-content">

      <%= render 'form' %>
    </section>
  </div>
</div>


<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
</div>
