<header class="aui-page-header">
  <div class="aui-page-header-inner">
    <div class="aui-page-header-main">
      <h1>login</h1>
    </div>
  </div>
</header>
<div class="aui-page-panel">
  <div class="aui-page-panel-inner">
    <section class="aui-page-panel-content">
      <%= form_tag '/users/login' do %>
        <div class="field">
          <%= text_field_tag :name, params[:name], placeholder:'name' %>
        </div>
        <div class="field">
          <%= password_field_tag :pass , params[:pass],placeholder:'password' %>
        </div>
        <div class="actions">
        <%= submit_tag "ログイン" %>
        </div>
      <% end %>
    </section>
  </div>
</div>
